* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  font-size: medium;
  background-color: deeppink;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blueviolet;
}

ul > li {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aqua;
}


h1+nav{
    background-color: chocolate;
    text-align: center;
}

a{
    background-color: black;
}


h3+p{
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(5, 177, 230);

}

#cartoons_place+p{
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
     color: darkslateblue;
}